In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\karina\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymysql
try:
	conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='Ceci2803',
                             db='employees')
	print("Conexión correcta")
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
	print("Ocurrió un error al conectar: ", e)

Conexión correcta

In [5]:
import pymysql
try:
    conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='Ceci2803',
                             db='employees')
    try:
        with conexion.cursor() as cursor:
            # En este caso no necesitamos limpiar ningún dato
            # Para probar, agregar al final de a sentencia SQL: LIMIT 100
            cursor.execute("SELECT * FROM employees LIMIT 50;")
 
            # Con fetchall traemos todas las filas
            employees = cursor.fetchall()
 
            # Recorrer e imprimir
            for emp in employees:
                print(emp)
    finally:
        conexion.close()
    
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)

(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26))
(10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21))
(10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28))
(10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1))
(10005, datetime.date(1955, 1, 21), 'Kyoichi', 'Maliniak', 'M', datetime.date(1989, 9, 12))
(10006, datetime.date(1953, 4, 20), 'Anneke', 'Preusig', 'F', datetime.date(1989, 6, 2))
(10007, datetime.date(1957, 5, 23), 'Tzvetan', 'Zielinski', 'F', datetime.date(1989, 2, 10))
(10008, datetime.date(1958, 2, 19), 'Saniya', 'Kalloufi', 'M', datetime.date(1994, 9, 15))
(10009, datetime.date(1952, 4, 19), 'Sumant', 'Peac', 'F', datetime.date(1985, 2, 18))
(10010, datetime.date(1963, 6, 1), 'Duangkaew', 'Piveteau', 'F', datetime.date(1989, 8, 24))
(10011, datetime.date(1953, 11, 7), 'Mary', 'Sluis', 'F', datetime.date(1990, 1, 22))
(10012, datetime.date(1960, 10, 4), 'Patricio', 'Bridgland', 'M', datetime.date(1992, 12, 18))
(10013, datetime.date(1963, 6, 7), 'Eberhardt', 'Terkki', 'M', datetime.date(1985, 10, 20))
(10014, datetime.date(1956, 2, 12), 'Berni', 'Genin', 'M', datetime.date(1987, 3, 11))
(10015, datetime.date(1959, 8, 19), 'Guoxiang', 'Nooteboom', 'M', datetime.date(1987, 7, 2))
(10016, datetime.date(1961, 5, 2), 'Kazuhito', 'Cappelletti', 'M', datetime.date(1995, 1, 27))
(10017, datetime.date(1958, 7, 6), 'Cristinel', 'Bouloucos', 'F', datetime.date(1993, 8, 3))
(10018, datetime.date(1954, 6, 19), 'Kazuhide', 'Peha', 'F', datetime.date(1987, 4, 3))
(10019, datetime.date(1953, 1, 23), 'Lillian', 'Haddadi', 'M', datetime.date(1999, 4, 30))
(10020, datetime.date(1952, 12, 24), 'Mayuko', 'Warwick', 'M', datetime.date(1991, 1, 26))
(10021, datetime.date(1960, 2, 20), 'Ramzi', 'Erde', 'M', datetime.date(1988, 2, 10))
(10022, datetime.date(1952, 7, 8), 'Shahaf', 'Famili', 'M', datetime.date(1995, 8, 22))
(10023, datetime.date(1953, 9, 29), 'Bojan', 'Montemayor', 'F', datetime.date(1989, 12, 17))
(10024, datetime.date(1958, 9, 5), 'Suzette', 'Pettey', 'F', datetime.date(1997, 5, 19))
(10025, datetime.date(1958, 10, 31), 'Prasadram', 'Heyers', 'M', datetime.date(1987, 8, 17))
(10026, datetime.date(1953, 4, 3), 'Yongqiao', 'Berztiss', 'M', datetime.date(1995, 3, 20))
(10027, datetime.date(1962, 7, 10), 'Divier', 'Reistad', 'F', datetime.date(1989, 7, 7))
(10028, datetime.date(1963, 11, 26), 'Domenick', 'Tempesti', 'M', datetime.date(1991, 10, 22))
(10029, datetime.date(1956, 12, 13), 'Otmar', 'Herbst', 'M', datetime.date(1985, 11, 20))
(10030, datetime.date(1958, 7, 14), 'Elvis', 'Demeyer', 'M', datetime.date(1994, 2, 17))
(10031, datetime.date(1959, 1, 27), 'Karsten', 'Joslin', 'M', datetime.date(1991, 9, 1))
(10032, datetime.date(1960, 8, 9), 'Jeong', 'Reistad', 'F', datetime.date(1990, 6, 20))
(10033, datetime.date(1956, 11, 14), 'Arif', 'Merlo', 'M', datetime.date(1987, 3, 18))
(10034, datetime.date(1962, 12, 29), 'Bader', 'Swan', 'M', datetime.date(1988, 9, 21))
(10035, datetime.date(1953, 2, 8), 'Alain', 'Chappelet', 'M', datetime.date(1988, 9, 5))
(10036, datetime.date(1959, 8, 10), 'Adamantios', 'Portugali', 'M', datetime.date(1992, 1, 3))
(10037, datetime.date(1963, 7, 22), 'Pradeep', 'Makrucki', 'M', datetime.date(1990, 12, 5))
(10038, datetime.date(1960, 7, 20), 'Huan', 'Lortz', 'M', datetime.date(1989, 9, 20))
(10039, datetime.date(1959, 10, 1), 'Alejandro', 'Brender', 'M', datetime.date(1988, 1, 19))
(10040, datetime.date(1959, 9, 13), 'Weiyi', 'Meriste', 'F', datetime.date(1993, 2, 14))
(10041, datetime.date(1959, 8, 27), 'Uri', 'Lenart', 'F', datetime.date(1989, 11, 12))
(10042, datetime.date(1956, 2, 26), 'Magy', 'Stamatiou', 'F', datetime.date(1993, 3, 21))
(10043, datetime.date(1960, 9, 19), 'Yishay', 'Tzvieli', 'M', datetime.date(1990, 10, 20))
(10044, datetime.date(1961, 9, 21), 'Mingsen', 'Casley', 'F', datetime.date(1994, 5, 21))
(10045, datetime.date(1957, 8, 14), 'Moss', 'Shanbhogue', 'M', datetime.date(1989, 9, 2))
(10046, datetime.date(1960, 7, 23), 'Lucien', 'Rosenbaum', 'M', datetime.date(1992, 6, 20))
(10047, datetime.date(1952, 6, 29), 'Zvonko', 'Nyanchama', 'M', datetime.date(1989, 3, 31))
(10048, datetime.date(1963, 7, 11), 'Florian', 'Syrotiuk', 'M', datetime.date(1985, 2, 24))
(10049, datetime.date(1961, 4, 24), 'Basil', 'Tramer', 'F', datetime.date(1992, 5, 4))
(10050, datetime.date(1958, 5, 21), 'Yinghua', 'Dredge', 'M', datetime.date(1990, 12, 25))

In [8]:
import pymysql
try:
    conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='Ceci2803',
                             db='employees')
    try:
        with conexion.cursor() as cursor:
            #Para probar, agregar al final de a sentencia SQL: LIMIT 100
            consulta = "SELECT emp_no, last_name FROM employees WHERE gender ='F' LIMIT 50 ;"
            cursor.execute(consulta)
 
            # Con fetchall traemos todas las filas
            employees = cursor.fetchall()
 
            # Recorrer e imprimir
            for emp in employees:
                print(emp)
    finally:
        conexion.close()
    
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)

(10002, 'Simmel')
(10006, 'Preusig')
(10007, 'Zielinski')
(10009, 'Peac')
(10010, 'Piveteau')
(10011, 'Sluis')
(10017, 'Bouloucos')
(10018, 'Peha')
(10023, 'Montemayor')
(10024, 'Pettey')
(10027, 'Reistad')
(10032, 'Reistad')
(10040, 'Meriste')
(10041, 'Lenart')
(10042, 'Stamatiou')
(10044, 'Casley')
(10049, 'Tramer')
(10053, 'Zschoche')
(10056, 'Bernini')
(10057, 'Callaway')
(10059, 'McAlpine')
(10063, 'Leonhardt')
(10069, 'Bierman')
(10072, 'Sidou')
(10074, 'Bernatsky')
(10075, 'Dolinsky')
(10076, 'Ritzmann')
(10078, 'Mondadori')
(10079, 'Gils')
(10087, 'Eugenio')
(10088, 'Syrzycki')
(10089, 'Flasterstein')
(10092, 'Niizuma')
(10094, 'Ossenbruggen')
(10098, 'Servieres')
(10099, 'Sullins')
(10100, 'Haraldson')
(10101, 'Heyers')
(10102, 'Luby')
(10107, 'Baca')
(10109, 'Prampolini')
(10110, 'Ullian')
(10111, 'Rosis')
(10112, 'Swick')
(10114, 'Demeyer')
(10116, 'Czap')
(10117, 'Blokdijk')
(10118, 'Zyda')
(10120, 'Fairtlough')
(10125, 'Hiltgen')

In [9]:
import pymysql
try:
    conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='Ceci2803',
                             db='employees')
    try:
        with conexion.cursor() as cursor:

            #Como el num de empleado 1000 ya existe, busco el maximo emp_no con 
            # SELECT max(emp_no) FROM employees e inserto el siguiente
            
            consulta = "INSERT INTO employees(emp_no, birth_date, first_name, last_name, gender, hire_date) VALUES (%s, %s, %s, %s, %s, %s);"
            #Podemos llamar muchas veces a .execute con datos distintos
            cursor.execute(consulta, ('500000', '1985-01-01','Pepe', 'Pe','M','1985-01-01'))
            #cursor.execute(consulta, ())
            #cursor.execute(consulta, ())
            #cursor.execute(consulta, ())
        conexion.commit()
    finally:
        conexion.close()
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)