In [1]:
# librer√≠as

import pandas as pd

In [5]:
df1 = pd.read_csv("data_stockfinal.csv",sep=',')
print(df1)

            Date       Open       High        Low      Close  Adj Close  \
0     2021-09-29   0.115000   0.116000   0.113000   0.115000   0.115000
1     2021-09-29  21.510000  21.580000  21.000000  21.010000  21.010000
2     2021-09-29   4.040000   4.040000   3.930000   3.960000   3.960000
3     2021-09-29   7.130000   7.180000   6.980000   7.040000   7.040000
4     2021-09-29  66.260002  67.010002  66.180000  66.279999  66.279999
...          ...        ...        ...        ...        ...        ...
1707  2021-09-29   1.900000   1.990000   1.880000   1.920000   1.920000
1708  2021-09-29  28.900000  28.900000  28.900000  28.900000  28.900000
1709  2021-09-29   7.030000   7.140000   6.790000   6.830000   6.830000
1710  2021-09-29   7.440000   7.670000   7.440000   7.550000   7.550000
1711  2021-09-29  43.320000  44.599998  42.959999  43.110001  43.110001

          Volume  Name
0      1541000.0  AAIT
1     20467900.0   AAL
2         7400.0  AAME
3       273400.0  AAOI
4        92400.0  AAON
...          ...   ...
1707   1702700.0  ZIOP
1708         0.0   ZIV
1709    374600.0  ZIXI
1710  20252700.0  ZNGA
1711    229000.0  ZUMZ

[1712 rows x 8 columns]

In [6]:
df1.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Name
0,2021-09-29,0.115000,0.116000,0.113,0.115000,0.115000,1541000.0,AAIT
1,2021-09-29,21.510000,21.580000,21.000,21.010000,21.010000,20467900.0,AAL
2,2021-09-29,4.040000,4.040000,3.930,3.960000,3.960000,7400.0,AAME
3,2021-09-29,7.130000,7.180000,6.980,7.040000,7.040000,273400.0,AAOI
4,2021-09-29,66.260002,67.010002,66.180,66.279999,66.279999,92400.0,AAON

In [7]:

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1712 entries, 0 to 1711
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1712 non-null   object
 1   Open       1711 non-null   float64
 2   High       1711 non-null   float64
 3   Low        1711 non-null   float64
 4   Close      1711 non-null   float64
 5   Adj Close  1711 non-null   float64
 6   Volume     1711 non-null   float64
 7   Name       1712 non-null   object
dtypes: float64(6), object(2)
memory usage: 107.1+ KB