In [2]:
# librerías

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from datetime import datetime
warnings.filterwarnings("ignore")
sns.set_style('whitegrid')
%matplotlib inline
import datetime as dt

In [3]:
df1 = pd.read_csv("bolsaMadrid.csv",sep=',')
print(df1)

    Unnamed: 0        Nombre      Últ.  % Dif.      Máx.      Mín.  \
0            0       ACCIONA  142.7000   -0.83  144.9000  142.4000
1            1      ACERINOX   10.9900   -0.18   11.0250   10.6900
2            2           ACS   23.3400    0.43   23.4500   23.1900
3            3          AENA  150.0000    0.20  153.2500  149.4000
4            4      ALMIRALL   13.5500    0.74   13.5800   13.3700
5            5       AMADEUS   58.5200    0.86   59.4800   57.9400
6            6   ARCELORMIT.   25.1400   -0.06   25.5050   24.8350
7            7   B.SANTANDER    3.1620    1.23    3.1780    3.0930
8            8   BA.SABADELL    0.7174    1.13    0.7218    0.6954
9            9     BANKINTER    5.0940    0.83    5.1200    5.0100
10          10          BBVA    5.6920    1.05    5.7100    5.5570
11          11     CAIXABANK    2.6440    0.34    2.6550    2.5860
12          12       CELLNEX   53.9800    0.60   54.1800   53.3000
13          13  CIE AUTOMOT.   21.5200    0.75   21.5800   21.1800
14          14        ENAGAS   19.4250    0.88   19.4650   19.1850
15          15        ENDESA   17.7100    0.63   17.8450   17.6550
16          16     FERROVIAL   25.8300    1.57   25.9400   25.4000
17          17       FLUIDRA   33.4000   -1.33   34.0000   32.7500
18          18  GRIFOLS CL.A   21.8700    3.21   21.9700   21.0700
19          19           IAG    2.2210    1.28    2.2600    2.1790
20          20     IBERDROLA    8.7020   -0.30    8.8000    8.6580
21          21       INDITEX   32.0300    0.03   32.2500   31.8000
22          22       INDRA A    9.0800   -1.14    9.2350    9.0700
23          23  INM.COLONIAL    8.4350   -0.35    8.5500    8.3800
24          24        MAPFRE    1.8725   -0.69    1.8900    1.8550
25          25  MELIA HOTELS    6.8340    0.38    6.8900    6.7000
26          26        MERLIN    9.0680   -0.44    9.1500    8.9820
27          27       NATURGY   21.8300    0.14   21.8800   21.6600
28          28    PHARMA MAR   71.8200   -0.19   73.0000   70.6000
29          29        R.E.C.   17.5650    1.27   17.6350   17.3050
30          30        REPSOL   11.7740    4.03   11.7800   11.3800
31          31  SIEMENS GAME   20.3900   -2.95   21.3800   19.9400
32          32       SOLARIA   14.1000    1.44   14.1450   13.5450
33          33    TELEFONICA    4.0715    1.85    4.0820    3.9850
34          34      VISCOFAN   55.9500   -0.27   56.1500   55.7500

        Volumen Efectivo (miles €)       Fecha      Hora
0        55.002           7.895,59  04/10/2021  16:08:20
1     1.006.701          10.930,76  04/10/2021  16:07:30
2       466.907          10.879,43  04/10/2021  16:08:27
3        68.300          10.315,00  04/10/2021  16:07:49
4       119.676           1.614,81  04/10/2021  16:07:23
5       353.756          20.739,62  04/10/2021  16:08:11
6       374.253           9.406,29  04/10/2021  16:08:31
7    14.496.273          45.380,00  04/10/2021  16:08:32
8    15.118.087          10.683,63  04/10/2021  16:08:20
9       681.283           3.449,04  04/10/2021  16:07:52
10  134.513.850         753.457,21  04/10/2021  16:08:23
11    7.302.892          19.057,60  04/10/2021  16:08:23
12      317.383          17.108,88  04/10/2021  16:08:32
13      115.111           2.457,78  04/10/2021  16:06:47
14      288.154           5.561,68  04/10/2021  16:08:23
15      553.733           9.820,47  04/10/2021  16:08:10
16      430.573          11.070,08  04/10/2021  16:08:02
17      242.254           8.081,21  04/10/2021  16:06:28
18      575.687          12.445,12  04/10/2021  16:07:47
19   16.741.424          37.205,91  04/10/2021  16:08:31
20    5.318.760          46.414,49  04/10/2021  16:08:11
21      544.642          17.432,00  04/10/2021  16:08:12
22      376.208           3.435,26  04/10/2021  16:07:52
23      393.454           3.317,25  04/10/2021  16:08:00
24    1.872.578           3.499,42  04/10/2021  16:08:32
25      785.630           5.353,88  04/10/2021  16:08:31
26      193.169           1.749,43  04/10/2021  16:08:00
27      856.969          18.667,74  04/10/2021  16:08:32
28       67.229           4.821,38  04/10/2021  16:08:22
29      343.014           6.009,49  04/10/2021  16:07:56
30    7.229.994          83.309,11  04/10/2021  16:08:32
31    1.015.343          20.726,65  04/10/2021  16:07:56
32      843.220          11.706,78  04/10/2021  16:08:23
33    9.365.532          37.614,54  04/10/2021  16:08:31
34       17.346             970,59  04/10/2021  16:03:35

In [4]:
df1.head()

,Unnamed: 0,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,0,ACCIONA,142.70,-0.83,144.900,142.40,55.002,"7.895,59",04/10/2021,16:08:20
1,1,ACERINOX,10.99,-0.18,11.025,10.69,1.006.701,"10.930,76",04/10/2021,16:07:30
2,2,ACS,23.34,0.43,23.450,23.19,466.907,"10.879,43",04/10/2021,16:08:27
3,3,AENA,150.00,0.20,153.250,149.40,68.300,"10.315,00",04/10/2021,16:07:49
4,4,ALMIRALL,13.55,0.74,13.580,13.37,119.676,"1.614,81",04/10/2021,16:07:23

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          35 non-null     int64
 1   Nombre              35 non-null     object
 2   Últ.                35 non-null     float64
 3   % Dif.              35 non-null     float64
 4   Máx.                35 non-null     float64
 5   Mín.                35 non-null     float64
 6   Volumen             35 non-null     object
 7   Efectivo (miles €)  35 non-null     object
 8   Fecha               35 non-null     object
 9   Hora                35 non-null     object
dtypes: float64(4), int64(1), object(5)
memory usage: 2.9+ KB

In [6]:
pd.value_counts(df1[["Nombre"]].values.ravel())

FLUIDRA         1
R.E.C.          1
BA.SABADELL     1
REPSOL          1
INDITEX         1
AMADEUS         1
SOLARIA         1
ARCELORMIT.     1
IBERDROLA       1
ENAGAS          1
CELLNEX         1
ACERINOX        1
INM.COLONIAL    1
B.SANTANDER     1
INDRA A         1
MAPFRE          1
ALMIRALL        1
BBVA            1
PHARMA MAR      1
BANKINTER       1
CAIXABANK       1
TELEFONICA      1
NATURGY         1
ENDESA          1
MERLIN          1
ACCIONA         1
AENA            1
ACS             1
GRIFOLS CL.A    1
IAG             1
CIE AUTOMOT.    1
VISCOFAN        1
MELIA HOTELS    1
FERROVIAL       1
SIEMENS GAME    1
dtype: int64

In [7]:
df2 = pd.read_csv("yahoo_finance.csv",sep=',')
print(df2)

         Date        Open        High         Low       Close   Adj Close  \
0  2021-10-04  143.300003  144.899994  142.399994  142.699997  142.699997
1  2021-10-04    5.600000    5.710000    5.557000    5.695000    5.695000
2  2021-10-04   21.120001   21.969999   21.070000   21.870001   21.870001
3  2021-10-04   17.825001   17.844999   17.655001   17.705000   17.705000
4  2021-10-04   11.396000   11.780000   11.380000   11.776000   11.776000

      Volume   ticker
0      55002   ANA.MC
1  134515394  BBVA.MC
2     576579   GRF.MC
3     553738   ELE.MC
4    7237442   REP.MC

In [9]:
df2.head()

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2021-10-04,143.300003,144.899994,142.399994,142.699997,142.699997,55002,ANA.MC
1,2021-10-04,5.600000,5.710000,5.557000,5.695000,5.695000,134515394,BBVA.MC
2,2021-10-04,21.120001,21.969999,21.070000,21.870001,21.870001,576579,GRF.MC
3,2021-10-04,17.825001,17.844999,17.655001,17.705000,17.705000,553738,ELE.MC
4,2021-10-04,11.396000,11.780000,11.380000,11.776000,11.776000,7237442,REP.MC

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5 non-null      object
 1   Open       5 non-null      float64
 2   High       5 non-null      float64
 3   Low        5 non-null      float64
 4   Close      5 non-null      float64
 5   Adj Close  5 non-null      float64
 6   Volume     5 non-null      int64
 7   ticker     5 non-null      object
dtypes: float64(5), int64(1), object(2)
memory usage: 448.0+ bytes

In [13]:
pd.value_counts(df2[["ticker"]].values.ravel())

BBVA.MC    1
GRF.MC     1
ELE.MC     1
ANA.MC     1
REP.MC     1
dtype: int64

In [14]:
df3 = pd.read_csv("investpy_spain.csv",sep=',')
print(df3)

    Unnamed: 0 country                         name symbol      last  \
0            0   spain                          ACS    ACS   22.7100
1            1   spain                   Atresmedia    A3M    3.6040
2            2   spain                     Acerinox    ACX   12.1350
3            3   spain                         BBVA   BBVA    5.7690
4            4   spain                    Bankinter    BKT    5.1500
5            5   spain                      Acciona    ANA  150.8000
6            6   spain                    Caixabank   CABK    2.6600
7            7   spain                       Enagas   ENAG   19.6000
8            8   spain                          FCC    FCC   11.1200
9            9   spain               Naturgy Energy   NTGY   22.9700
10          10   spain                       Gamesa  SGREN   20.8600
11          11   spain                      Grifols   GRLS   20.5290
12          12   spain                    Ferrovial    FER   26.6100
13          13   spain                Red Electrica    REE   17.6880
14          14   spain                      Inditex    ITX   31.2100
15          15   spain                       Repsol    REP   11.5880
16          16   spain                    Iberdrola    IBE    9.4480
17          17   spain                      Indra A    IDR    9.4700
18          18   spain                       Mapfre    MAP    1.7940
19          19   spain                   Telefonica    TEF    3.7970
20          20   spain                     Mediaset    TL5    4.6900
21          21   spain                        Sacyr   SCYR    2.3760
22          22   spain            Banco de Sabadell    ACS    0.6728
23          23   spain                    Santander    SAN    3.3455
24          24   spain        Inmobiliaria Colonial    COL    8.4900
25          25   spain            Tecnicas Reunidas    TRE    8.6700
26          26   spain                          OHL    OHL    0.6510
27          27   spain                          IAG   ICAG    2.1660
28          28   spain                   Ebro Foods   EBRO   16.9390
29          29   spain                       Endesa    ELE   18.7550
30          30   spain                      Amadeus    AMA   60.5590
31          31   spain                          DIA   DIDA    0.0163
32          32   spain               Squirrel Media    ACS    3.8000
33          33   spain                 Laborat.Rovi   ROVI   56.3000
34          34   spain  General Alquiler Maquinaria   GALQ    1.5700

        high       low  change change_percentage  turnover currency    GP  %
0    22.7750   22.2900  0.4100            +1.84%    988260      EUR  1.84  %
1     3.6500    3.5820 -0.0260            -0.72%    106520      EUR -0.72  %
2    12.2840   12.0050  0.2650            +2.23%   1160000      EUR  2.23  %
3     5.8350    5.6750  0.1320            +2.34%  18380000      EUR  2.34  %
4     5.1660    5.0500  0.1340            +2.67%   2600000      EUR  2.67  %
5   151.9000  148.2000  2.9000            +1.96%    111690      EUR  1.96  %
6     2.6800    2.6460  0.0330            +1.26%  11010000      EUR  1.26  %
7    19.7800   19.5050 -0.1500            -0.76%    609490      EUR -0.76  %
8    11.2800   11.1200 -0.0600            -0.54%    193740      EUR -0.54  %
9    23.9900   22.7450 -0.9100            -3.81%   3830000      EUR -3.81  %
10   20.9800   20.5000  0.2000            +0.97%   2640000      EUR  0.97  %
11   20.8090   20.3750 -0.0510            -0.25%    745290      EUR -0.25  %
12   26.7000   26.2100  0.4400            +1.68%    893060      EUR  1.68  %
13   17.9700   17.5020 -0.2390            -1.33%   1050000      EUR -1.33  %
14   31.2150   30.4100  0.7750            +2.55%   2560000      EUR  2.55  %
15   11.7020   11.5060  0.0590            +0.51%   5800000      EUR  0.51  %
16    9.6540    9.4040 -0.1440            -1.50%  19590000      EUR -1.50  %
17    9.5200    9.4150  0.0500            +0.53%    397340      EUR  0.53  %
18    1.8110    1.7930 -0.0030            -0.14%   2570000      EUR -0.14  %
19    3.9385    3.7685 -0.1445            -3.67%  39090000      EUR -3.67  %
20    4.7980    4.6900 -0.0500            -1.05%    246400      EUR -1.05  %
21    2.3880    2.3220  0.0500            +2.15%   4050000      EUR  2.15  %
22    0.6810    0.6704  0.0020            +0.30%  23250000      EUR  0.30  %
23    3.3850    3.3080  0.0645            +1.97%  46130000      EUR  1.97  %
24    8.5100    8.3700  0.0400            +0.47%    749540      EUR  0.47  %
25    8.8150    8.5800  0.1200            +1.40%    278290      EUR  1.40  %
26    0.6580    0.6460  0.0050            +0.85%    661230      EUR  0.85  %
27    2.1830    2.0970  0.0770            +3.69%  24940000      EUR  3.69  %
28   16.9700   16.5900  0.3090            +1.86%     88630      EUR  1.86  %
29   18.9720   18.6220 -0.1400            -0.74%   1500000      EUR -0.74  %
30   60.9900   59.7790  0.5390            +0.90%    907520      EUR  0.90  %
31    0.0165    0.0158  0.0001            +0.62%  33580000      EUR  0.62  %
32    3.9000    3.8000 -0.0250            -0.65%      7860      EUR -0.65  %
33   57.2000   55.8000 -0.5000            -0.88%     47890      EUR -0.88  %
34    1.6300    1.5700 -0.0300            -1.88%     25820      EUR -1.88  %

In [15]:
df3.head()

,Unnamed: 0,country,name,symbol,last,high,low,change,change_percentage,turnover,currency,GP,%
0,0,spain,ACS,ACS,22.710,22.775,22.290,0.410,+1.84%,988260,EUR,1.84,%
1,1,spain,Atresmedia,A3M,3.604,3.650,3.582,-0.026,-0.72%,106520,EUR,-0.72,%
2,2,spain,Acerinox,ACX,12.135,12.284,12.005,0.265,+2.23%,1160000,EUR,2.23,%
3,3,spain,BBVA,BBVA,5.769,5.835,5.675,0.132,+2.34%,18380000,EUR,2.34,%
4,4,spain,Bankinter,BKT,5.150,5.166,5.050,0.134,+2.67%,2600000,EUR,2.67,%

In [16]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         35 non-null     int64
 1   country            35 non-null     object
 2   name               35 non-null     object
 3   symbol             35 non-null     object
 4   last               35 non-null     float64
 5   high               35 non-null     float64
 6   low                35 non-null     float64
 7   change             35 non-null     float64
 8   change_percentage  35 non-null     object
 9   turnover           35 non-null     int64
 10  currency           35 non-null     object
 11  GP                 35 non-null     float64
 12  %                  35 non-null     object
dtypes: float64(5), int64(2), object(6)
memory usage: 3.7+ KB

In [18]:
pd.value_counts(df3[["name"]].values.ravel())

Sacyr                          1
Naturgy Energy                 1
Grifols                        1
Laborat.Rovi                   1
Inmobiliaria Colonial          1
Tecnicas Reunidas              1
ACS                            1
Indra A                        1
Santander                      1
BBVA                           1
Ferrovial                      1
Iberdrola                      1
Telefonica                     1
IAG                            1
Squirrel Media                 1
Caixabank                      1
Inditex                        1
Banco de Sabadell              1
Ebro Foods                     1
Bankinter                      1
Mapfre                         1
FCC                            1
DIA                            1
Acerinox                       1
OHL                            1
Acciona                        1
Atresmedia                     1
General Alquiler Maquinaria    1
Gamesa                         1
Amadeus                        1
Endesa                         1
Enagas                         1
Repsol                         1
Mediaset                       1
Red Electrica                  1
dtype: int64